# These URLs must be added to `.env` to connect with our micro-service containers
VITE_API_BASE_URL=http://localhost:3000
VITE_API_DATABASE_URL=http://localhost:8000

# SSO via the CoSMIC Auth BFF framework - Keycloak (with Google & Microsoft
# brokered inside)
VITE_BFF_URL=http://localhost:8081
